@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stili Globali */
body { 
  margin: 0; 
  font-family: 'Inter', sans-serif; 
  background-color: #020617; 
  color: #e2e8f0;
}
